@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body {
    font-family: 'Share Tech Mono', monospace;
}
  
  .home {
    text-align: center;
  }
  
  .header {
    display: flex; /* Usa flexbox para alinhamento */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: space-between; /* Deixa espaço entre o logo e o canto direito */
    background-color: #12372A; /* Cor de fundo da barra verde */
    padding: 10px 20px; /* Define padding para controle de altura e espaçamento */
    color: white; /* Cor do texto */
    height: 60px; /* Ajusta a altura da barra verde */
    position: relative; /* Necessário para centralizar o título */
  }
  
  .logo {
    width: 60px; /* Define a largura do ícone para alinhamento */
  }
  .iconUser {
    width: 50px; /* Define a largura do ícone para alinhamento */
    align-items: right; /* Centraliza o conteúdo verticalmente */
 

  }
  /* Estilo para centralizar o título */
  .title {
    position: absolute; /* Posiciona o título no centro absoluto */
    left: 50%; /* Move para o centro horizontal */
    transform: translateX(-50%); /* Centraliza o título */
    font-size: 1.8rem; /* Tamanho da fonte do título */
    font-weight: bold; /* Negrito para destacar o título */
  }
  
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
  }
  
  .welcome-section {
    background-color: #e3e8e1;
    border-radius: 10px 0 0 10px;
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    height: 160px;
    text-align: center;
    border-right: 1px solid #000;
  }
  
  .welcome-section hr {
    margin: 10px 0;
  }
  
  .finance-info {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .finance-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 0px 10px 10px 0px;
    width: 150px;
    height: 90px;
    font-size: 1rem;
    color: #333;
  }
  
  .finance-box.green {
    background-color: #a3e4a3;
    color: #1a651a;
    border-radius: 10px;
  }
  
  .finance-box.brown {
    background-color: #d9b38c;
    color: #6b4226;
    border-radius: 10px;

  }
  
  .quick-access {
    background-color: #e3e8e1;
    border-radius: 0px 10px 10px 0px;
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    text-align: center;
  }
  
  .quick-access hr {
    margin: 10px 0;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  
  .action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .action-button img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }
  
  .action-button span {
    font-size: 1.2rem;
    color: #333;
  }
  /* Fundo translúcido para o modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 55, 42, 0.8); /* Verde translúcido */
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: 1000;
}

/* Estilo do conteúdo do modal */
.modal-content {
  background-color: #f8f8f8;
  padding: 20px;
  width: 550px;
  margin-block-end: 15px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  font-family: 'Share Tech Mono', monospace; /* Fonte desejada */
  width: 98%;
  padding: 7px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-row .form-group {
  width: 48%; /* Divide os elementos na mesma linha */
}

.form-group.full-width {
  width: 51%; /* Campo "Categoria" ocupa a largura completa */
}

.confirm-button {
  background-color: #129e3f; /* Verde para o botão de confirmação */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0; /* Centraliza o botão */
}

.confirm-button:hover {
  background-color: #127b33; /* Tom mais escuro ao passar o mouse */
}
