.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1c3a36;
  }
  
  .register-form {
    display: flex;
    flex-direction: row;
    background-color: #2e4a3d;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #ffffff;
    width: 600px;
  }
  
  .form-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px;
  }
  
  .form-logo {
    width: 50px;
    margin-bottom: 10px;
  }
  
  .form-left h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .form-left p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .form-left input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
  }
  
  .form-left button {
    background-color: #1c704d;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  .form-left button:hover {
    background-color: #15593b;
  }
  
  .form-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    text-align: center;
  }
  
  .form-right p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .form-graphic {
    width: 100px;
    height: auto;
    filter: invert(1); /* Aplica o efeito negativo */
  }
  
  